.mi .content {
  width: 100%;
}
.mi .content .all {
  background-color: #f2f2f2;
  width: 100%;
}
.mi .content .all .connertain {
  width: 1080px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 100px;
}
.mi .content .all .connertain .querynum {
  font-size: 14px;
}
.mi .content .all .connertain .querynum span {
  color: #845f3f;
}
.mi .content .all .connertain .goodslist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.mi .content .all .connertain .goodslist .goods:hover {
  margin-left: 0px;
  margin-top: 1px;
  box-shadow: 2px 2px 15px 0px #ccc;
}
.mi .content .all .connertain .goodslist .goods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 266px;
  height: 267px;
  margin-bottom: 5px;
  margin-right: 3px;
}
.mi .content .all .connertain .goodslist .goods img {
  width: 195px;
  height: 195px;
}
.mi .content .all .connertain .goodslist .goods .goods-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mi .content .all .connertain .goodslist .goods .goods-detail .name {
  color: #333;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 266px;
  text-align: center;
}
.mi .content .all .connertain .goodslist .goods .goods-detail .price {
  font-size: 12px;
  color: #A91221;
}
.mi .content .all .connertain .goodslist .goods .goods-detail .price span {
  font-size: 14px;
}
.mi .content .all .connertain .goodslist .goods .goods-detail .price .tip {
  height: 20px;
  padding: 0 6px;
  margin-left: 5px;
  color: #fff;
  background-color: #c00000;
}