html,
body {
  height: 100%;
}

.mi-login {
  display: flex;
  height: 100%;
}
.mi-login .mi-login-left {
  flex-shrink: 0;
  width: 375px;
  background-image: url("https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/static/media/banner.4994397e.jpg");
  background-size: cover;
}
.mi-login .mi-login-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mi-login .mi-login-right .mi-lr-header {
  padding: 20px;
  width: 100%;
}
.mi-login .mi-login-right .mi-lr-header .navbar-brand {
  font-size: 26px;
  font-weight: 900;
}
.mi-login .mi-login-right .mi-lr-header .navbar-brand img {
  width: 40px;
  height: 40px;
}
.mi-login .mi-login-right .mi-lr-header .navbar-collapse {
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}
.mi-login .mi-login-right .mi-lr-header .navbar-collapse .nav-item a {
  color: #999;
}
.mi-login .mi-login-right .mi-lr-header .navbar-collapse .nav-item:hover a {
  color: #ff5c00;
}
.mi-login .mi-login-right .mi-lr-header .navbar-collapse .nav-item:hover .dropdown-menu li a {
  color: #999;
}
.mi-login .mi-login-right .mi-lr-header .navbar-collapse .nav-item:hover .dropdown-menu li .dropdown-item:hover {
  background-color: #ff5e001e;
}
.mi-login .mi-login-right .mi-lr-content .login {
  width: 450px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #ccc;
  padding: 20px 25px;
  position: relative;
}
.mi-login .mi-login-right .mi-lr-content .login .ma {
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
  opacity: 0.4;
  border-color: #ff5c00 #ff5c00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 32px;
  cursor: pointer;
}
.mi-login .mi-login-right .mi-lr-content .login .ma .aa {
  position: absolute;
  left: -15px;
  top: -20px;
}
.mi-login .mi-login-right .mi-lr-content .login .ma .aa i {
  font-size: 36px;
  color: #fff;
}
.mi-login .mi-login-right .mi-lr-content .login .saoma {
  display: none;
}
.mi-login .mi-login-right .mi-lr-content .login .saoma .tip {
  position: absolute;
  padding: 10px;
  width: 100px;
  border: 1px solid #f60;
  background-color: #f60;
  color: #fff;
  left: 250px;
}
.mi-login .mi-login-right .mi-lr-content .login .saoma .tip::before,
.mi-login .mi-login-right .mi-lr-content .login .saoma .tip::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 99px;
  border: 10px solid transparent;
  border-left-color: #f60;
}
.mi-login .mi-login-right .mi-lr-content .login .nav div {
  margin-left: 20px;
}
.mi-login .mi-login-right .mi-lr-content .login .nav div a {
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  color: #ccc;
}
.mi-login .mi-login-right .mi-lr-content .login .nav .active {
  border-bottom: 3px solid #ff5c00;
}
.mi-login .mi-login-right .mi-lr-content .login .nav .active a {
  color: black;
}
.mi-login .mi-login-right .mi-lr-content .login .form {
  padding-top: 40px;
}
.mi-login .mi-login-right .mi-lr-content .login .form ul {
  width: 100%;
  list-style-type: none;
}
.mi-login .mi-login-right .mi-lr-content .login .form li {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 102, 0, 0.123);
}
.mi-login .mi-login-right .mi-lr-content .login .form li input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 60px;
  left: 0;
  bottom: 0;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  padding-top: 25px;
  padding-left: 12%;
}
.mi-login .mi-login-right .mi-lr-content .login .form li label {
  width: 80%;
  display: block;
  position: absolute;
  bottom: 0;
  color: #f04645;
  padding-left: 15px;
  pointer-events: none;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  transition: 0.5s linear;
}
.mi-login .mi-login-right .mi-lr-content .login .form li .logn {
  width: 100%;
  background-color: #ff5c00;
  color: #fff;
}
.mi-login .mi-login-right .mi-lr-content .login .form li input:focus ~ label,
.mi-login .mi-login-right .mi-lr-content .login .form li input:valid ~ label {
  border-color: #f04645;
  color: #f04645;
  padding-bottom: 30px;
  font-size: 10px;
}
.mi-login .mi-login-right .mi-lr-content .login .form .forget {
  display: flex;
  justify-content: space-between;
}
.mi-login .mi-login-right .mi-lr-content .login .form .forget a {
  text-decoration: none;
  color: #f04645;
  font-size: 17px;
}
.mi-login .mi-login-right .mi-lr-content .login .form .other {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 17px;
}
.mi-login .mi-login-right .mi-lr-content .login .form .anotherLogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mi-login .mi-login-right .mi-lr-content .login .form .anotherLogo i {
  font-size: 46px;
}
.mi-login .mi-login-right .mi-lr-copyright {
  padding-bottom: 20px;
  color: #999;
  font-size: 12px;
}
.mi-login .mi-login-right .mi-lr-copyright a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}

/*# sourceMappingURL=login.css.map */
